<div class="row">
  <div class="twelve columns">
    <form method="post" action="/jsonize">
      <input type="submit">
      <textarea cols="20" rows="60" name="cards_of_deck"></textarea>
    </form>
  </div>
</div>
